/.idea/
/bin/
/obj/
/SudokuSolver.UnitTest/bin/Debug/net9.0/.msCoverageSourceRootsMapping_SudokuSolver.UnitTest
/SudokuSolver.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SudokuSolver.Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SudokuSolver.UnitTest/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SudokuSolver.WebApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/2bwntx32y1-89qbw8ngem.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/3jz0x14e6r-ophe14yye5.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/4dlfaby12t-st1cbwfwo5.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/5k4nngtjhp-jqwzsa9uv6.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/6e2qd0knbg-73kdqttayv.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/6wtj5pv5s4-55gph5j1aa.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/7k29gm0777-vy0bq9ydhf.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/007umlyqi1-4gxs3k148c.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/8oe800eh3d-jeal3x0ldm.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/9h26xtvb2e-gjcw7pocpk.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/58dqwi9mb7-cwzlr5n8x4.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/98c5k0hj27-7s2n0ol71w.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/230ncf84id-e6q6xbwqzk.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/a7itoydjec-56d2bn4wt9.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/almjbjen3t-8hogpvwzls.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/apphost.exe
/SudokuSolver.WebApp/bin/Debug/net9.0/appsettings.Development.json
/SudokuSolver.WebApp/bin/Debug/net9.0/appsettings.json
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/aqsuhi9k53-mk8rdyw69w.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/ar1mb6lztj-2lgwfvgpvi.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/byx8s974ot-8hogpvwzls.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/c857h8e6ty-ab1c3rmv7g.gz
/SudokuSolver.UnitTest/bin/Debug/net9.0/CoverletSourceRootsMapping_SudokuSolver.UnitTest
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/dqn5oo2gzn-5p029spbuu.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/dt5xuxalze-6gzpyzhau4.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/dum4ms66qv-356vix0kms.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/eeruevy62u-9oaff4kq20.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/epzleo9xrx-6ukhryfubh.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/f9i3ebeuyw-wmug9u23qg.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/fclli768qh-ay5nd8zt9x.gz
/SudokuSolver.UnitTest/bin/Debug/net9.0/FluentAssertions.dll
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/ggri36ckjg-6l4ir0ityv.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/h5okpnippe-mlv21k5csn.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/hklyl3e97n-okkk44j0xs.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/i7satzijph-03hjc8e09r.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/izo48kbz00-o371a8zbv2.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/j6nibgk4aa-dniypfwhen.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/j6on47azgj-wsezl0heh6.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/jhvavc2dtv-8inm30yfxf.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/jhzd2blu24-j75batdsum.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/jxcmrsg5vf-f6zq8v6eb3.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/kkdv07059d-ehgnz7f14e.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/kmmckh28fh-4908xmbfjr.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/lae6cg3aaq-u33ctipx7g.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/lc5zd679ck-b9sayid5wm.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/m002atnn3q-n5w6o92d9r.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/maoqectpn5-1piudyfv7h.gz
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets/msbuild.build.SudokuSolver.WebApp.props
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.SudokuSolver.WebApp.props
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.SudokuSolver.WebApp.props
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets/msbuild.SudokuSolver.WebApp.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets/msbuild.SudokuSolver.WebApp.Microsoft.AspNetCore.StaticWebAssets.props
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/nb101lvxng-ik6i2hrs65.gz
/SudokuSolver.UnitTest/bin/Debug/net9.0/Newtonsoft.Json.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/nunit.engine.api.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/nunit.engine.core.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/nunit.engine.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/nunit.framework.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/nunit.framework.legacy.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/NUnit3.TestAdapter.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/NUnit3.TestAdapter.pdb
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/pb34dxk3cr-x0q3zqp4vz.gz
/SudokuSolver.Core/obj/project.assets.json
/SudokuSolver.Domain/obj/project.assets.json
/SudokuSolver.UnitTest/obj/project.assets.json
/SudokuSolver.WebApp/obj/project.assets.json
/SudokuSolver.Core/obj/project.nuget.cache
/SudokuSolver.Domain/obj/project.nuget.cache
/SudokuSolver.UnitTest/obj/project.nuget.cache
/SudokuSolver.WebApp/obj/project.nuget.cache
/SudokuSolver.Core/obj/project.packagespec.json
/SudokuSolver.Domain/obj/project.packagespec.json
/SudokuSolver.UnitTest/obj/project.packagespec.json
/SudokuSolver.WebApp/obj/project.packagespec.json
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/qdaz2dt62v-2q4vfeazbq.gz
/SudokuSolver.Core/obj/rider.project.model.nuget.info
/SudokuSolver.Domain/obj/rider.project.model.nuget.info
/SudokuSolver.UnitTest/obj/rider.project.model.nuget.info
/SudokuSolver.WebApp/obj/rider.project.model.nuget.info
/SudokuSolver.Core/obj/rider.project.restore.info
/SudokuSolver.Domain/obj/rider.project.restore.info
/SudokuSolver.UnitTest/obj/rider.project.restore.info
/SudokuSolver.WebApp/obj/rider.project.restore.info
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/rku61964j4-y53cy5s2zj.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/rpm6ktddlv-xtxxf3hu2r.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/rrxc4u3omf-dy6jgresuo.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/sbxue4jl6r-48y08845bh.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets.build.json
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets.development.json
/SudokuSolver.WebApp/obj/Debug/net9.0/staticwebassets.pack.json
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSo.6FCCB7D8.Up2Date
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSo.AB06472F.Up2Date
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSo.F4F812FB.Up2Date
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.AssemblyInfo.cs
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.AssemblyInfoInputs.cache
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.assets.cache
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.csproj.AssemblyReference.cache
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.csproj.CoreCompileInputs.cache
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.csproj.FileListAbsolute.txt
/SudokuSolver.Core/obj/SudokuSolver.Core.csproj.nuget.dgspec.json
/SudokuSolver.Core/obj/SudokuSolver.Core.csproj.nuget.g.props
/SudokuSolver.Core/obj/SudokuSolver.Core.csproj.nuget.g.targets
/SudokuSolver.Core/bin/Debug/net9.0/SudokuSolver.Core.deps.json
/SudokuSolver.Core/bin/Debug/net9.0/SudokuSolver.Core.dll
/SudokuSolver.Core/obj/Debug/net9.0/ref/SudokuSolver.Core.dll
/SudokuSolver.Core/obj/Debug/net9.0/refint/SudokuSolver.Core.dll
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.Core.dll
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.Core.dll
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.GeneratedMSBuildEditorConfig.editorconfig
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.GlobalUsings.g.cs
/SudokuSolver.Core/bin/Debug/net9.0/SudokuSolver.Core.pdb
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.pdb
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.Core.pdb
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.Core.pdb
/SudokuSolver.Core/obj/Debug/net9.0/SudokuSolver.Core.sourcelink.json
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.AssemblyInfo.cs
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.AssemblyInfoInputs.cache
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.assets.cache
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.csproj.CoreCompileInputs.cache
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.csproj.FileListAbsolute.txt
/SudokuSolver.Domain/obj/SudokuSolver.Domain.csproj.nuget.dgspec.json
/SudokuSolver.Domain/obj/SudokuSolver.Domain.csproj.nuget.g.props
/SudokuSolver.Domain/obj/SudokuSolver.Domain.csproj.nuget.g.targets
/SudokuSolver.Domain/bin/Debug/net9.0/SudokuSolver.Domain.deps.json
/SudokuSolver.Core/bin/Debug/net9.0/SudokuSolver.Domain.dll
/SudokuSolver.Domain/bin/Debug/net9.0/SudokuSolver.Domain.dll
/SudokuSolver.Domain/obj/Debug/net9.0/ref/SudokuSolver.Domain.dll
/SudokuSolver.Domain/obj/Debug/net9.0/refint/SudokuSolver.Domain.dll
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.Domain.dll
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.Domain.dll
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.GlobalUsings.g.cs
/SudokuSolver.Core/bin/Debug/net9.0/SudokuSolver.Domain.pdb
/SudokuSolver.Domain/bin/Debug/net9.0/SudokuSolver.Domain.pdb
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.pdb
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.Domain.pdb
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.Domain.pdb
/SudokuSolver.Domain/obj/Debug/net9.0/SudokuSolver.Domain.sourcelink.json
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.AssemblyInfo.cs
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.AssemblyInfoInputs.cache
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.assets.cache
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.csproj.AssemblyReference.cache
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.csproj.CoreCompileInputs.cache
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.csproj.FileListAbsolute.txt
/SudokuSolver.UnitTest/obj/SudokuSolver.UnitTest.csproj.nuget.dgspec.json
/SudokuSolver.UnitTest/obj/SudokuSolver.UnitTest.csproj.nuget.g.props
/SudokuSolver.UnitTest/obj/SudokuSolver.UnitTest.csproj.nuget.g.targets
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.UnitTest.deps.json
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.UnitTest.dll
/SudokuSolver.UnitTest/obj/Debug/net9.0/ref/SudokuSolver.UnitTest.dll
/SudokuSolver.UnitTest/obj/Debug/net9.0/refint/SudokuSolver.UnitTest.dll
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.dll
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.genruntimeconfig.cache
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.GlobalUsings.g.cs
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.UnitTest.pdb
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.pdb
/SudokuSolver.UnitTest/bin/Debug/net9.0/SudokuSolver.UnitTest.runtimeconfig.json
/SudokuSolver.UnitTest/obj/Debug/net9.0/SudokuSolver.UnitTest.sourcelink.json
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.AssemblyInfo.cs
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.AssemblyInfoInputs.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.assets.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/scopedcss/projectbundle/SudokuSolver.WebApp.bundle.scp.css
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.csproj.AssemblyReference.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.csproj.CoreCompileInputs.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.csproj.FileListAbsolute.txt
/SudokuSolver.WebApp/obj/SudokuSolver.WebApp.csproj.nuget.dgspec.json
/SudokuSolver.WebApp/obj/SudokuSolver.WebApp.csproj.nuget.g.props
/SudokuSolver.WebApp/obj/SudokuSolver.WebApp.csproj.nuget.g.targets
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.deps.json
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.dll
/SudokuSolver.WebApp/obj/Debug/net9.0/ref/SudokuSolver.WebApp.dll
/SudokuSolver.WebApp/obj/Debug/net9.0/refint/SudokuSolver.WebApp.dll
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.dll
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.exe
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.GeneratedMSBuildEditorConfig.editorconfig
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.genruntimeconfig.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.GlobalUsings.g.cs
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.MvcApplicationPartsAssemblyInfo.cache
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.pdb
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.pdb
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.RazorAssemblyInfo.cache
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.RazorAssemblyInfo.cs
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.runtimeconfig.json
/SudokuSolver.WebApp/obj/Debug/net9.0/SudokuSolver.WebApp.sourcelink.json
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.staticwebassets.endpoints.json
/SudokuSolver.WebApp/bin/Debug/net9.0/SudokuSolver.WebApp.staticwebassets.runtime.json
/SudokuSolver.WebApp/obj/Debug/net9.0/scopedcss/bundle/SudokuSolver.WebApp.styles.css
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/sv93vq7u5r-z9shlbduue.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/swfahfqqs8-c2nslu3uf3.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/tclmmuzlgv-5vj65cig9w.gz
/SudokuSolver.UnitTest/bin/Debug/net9.0/testcentric.engine.metadata.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/testhost.dll
/SudokuSolver.UnitTest/bin/Debug/net9.0/testhost.exe
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/tjgo4ra5iw-fctod5rc9n.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/tu03npxq3f-97yrjpyf9r.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/u9xizfx1yf-z7kmom2977.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/wg40d7ek5f-ozu22stjof.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/wnds07d8ec-2yn17lgxub.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/x8cgbzdelb-5pze98is44.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/x9s96gf217-kbynt5jhd9.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/xdkd7g6rhf-61n19gt1b8.gz
/SudokuSolver.WebApp/obj/Debug/net9.0/compressed/ynd217al7d-nakmwdwsxp.gz
