################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SudokuLogic/v16
/.vs
/SudokuLogic/.vs/SudokuLogic
/SudokuLogic/obj
